In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
import seaborn as sns;sns.set()
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px

## *Importing data*

In [10]:
df=pd.read_csv(r"C:\Users\Omar\Desktop\SiTeck\Month_1\Week_1\DataFiles\demand_sales_data.csv")
df.head()

,date,Order_ID,Company,Company_Region,Product_ID,Product,Customer_ID,Product Category01,Product Category02,Product Category03,Quantity,unit,price_per_case
0,1/1/2021,6141309,121,South,11829,AVO32CNV2,DMKUT,32.0,CNV,#2,224,case,41
1,1/1/2021,6377268,131,North,11541,AVO60CNV1,QPDXK,60.0,CNV,1,396,case,46
2,1/1/2021,6377268,131,North,11931,AVO48CNV1,QPDXK,NaN,CNV,1,148,case,45
3,1/1/2021,6191867,121,South,11829,AVO32CNV2,IEHDJ,32.0,CNV,#2,150,case,41
4,1/1/2021,6191867,121,South,11385,AVO48CNV2,IEHDJ,48.0,CNV,#2,294,case,49

## *Data shape*

In [11]:
print(df.shape)
print("The data set has",df.shape[0],"rows, and",df.shape[1],"features\nThis means the Date set has in total",df.size,"elemensts or cells")

(11386, 13)
The data set has 11386 rows, and 13 features
This means the Date set has in total 148018 elemensts or cells

---

## *Data types*

In [12]:
df.dtypes

date                   object
Order_ID                int64
Company                 int64
Company_Region         object
Product_ID              int64
Product                object
Customer_ID            object
Product Category01    float64
Product Category02     object
Product Category03     object
Quantity                int64
unit                   object
price_per_case          int64
dtype: object

---

## *Data info*

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11386 entries, 0 to 11385
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                11386 non-null  object
 1   Order_ID            11386 non-null  int64
 2   Company             11386 non-null  int64
 3   Company_Region      11386 non-null  object
 4   Product_ID          11386 non-null  int64
 5   Product             11240 non-null  object
 6   Customer_ID         11386 non-null  object
 7   Product Category01  11148 non-null  float64
 8   Product Category02  11138 non-null  object
 9   Product Category03  11264 non-null  object
 10  Quantity            11386 non-null  int64
 11  unit                11386 non-null  object
 12  price_per_case      11386 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 1.1+ MB

---

>  --->*obviously we need to to do some cleaning*

---