In [ ]:
%run C:\Users\Omar\Desktop\Omar_Files\Python_Analysis\Siteck\Pyhton_Projects\demand_sales_data_Analysi\NoteBooks\1.Data_Importing.ipynb

## *Data Cleaning*

### *A. colums names cleaning: (converting all to small letters and add "_" in spaces between words)*

In [5]:
df.columns

Index(['date', 'Order_ID', 'Company', 'Company_Region', 'Product_ID',
       'Product', 'Customer_ID', 'Product Category01', 'Product Category02',
       'Product Category03', 'Quantity', 'unit', 'price_per_case'],
      dtype='object')

In [6]:
import janitor
df=df.clean_names()

In [7]:
df.columns

Index(['date', 'order_id', 'company', 'company_region', 'product_id',
       'product', 'customer_id', 'product_category01', 'product_category02',
       'product_category03', 'quantity', 'unit', 'price_per_case'],
      dtype='object')

---
---

### *Duplicated data  :*

In [8]:
df.duplicated().sum()

48

In [9]:
df.drop_duplicates(inplace=True)

---
---

### *B. na-values :*

#### Missing data : 
- Missing completly at random (MCR) : the data not mentioned at all and not dependens on any other features at all like   (forgotten to mention)
- Missing at random (MR): the missed data are based on other featurs in the dataset
- Missing not at random (MNR): the missed data are missed by intention like not mentioning name ,age,weight,etc..

---

#### The number of missing data :

In [10]:
print("The total number of na_values are :",df.isna().sum().sum())
print()
print("The number of na-values in each features are :")
df.isna().sum()

The total number of na_values are : 753

The number of na-values in each features are :

date                    0
order_id                0
company                 0
company_region          0
product_id              0
product               146
customer_id             0
product_category01    237
product_category02    248
product_category03    122
quantity                0
unit                    0
price_per_case          0
dtype: int64

---

#### *B.1 Important observations :*

- The product feature names constructed of parts from another features :  
example: <br> 1. The 1st three charachters : are common between all products names<br>2. The 2nd two charachters : are numbers exctacted for the product category01<br>3. The 3rd three charachters : are exctacted for the product category02 <br>4. The 4th last charachters : are numbers exctacted for the product category03
- some products are unknown , will fill the unkown products based on the product_id column as it contains unique id's( Missing at random (MR))

---

##### *B.1.1: Filling the unkown products based on the product_id column as it contains unique id's :*

In [11]:
print("The products names as per he product ID are as below: ")
df.groupby("product_id")["product"].unique()

The products names as per he product ID are as below:

product_id
11133    [AVO60CNV2, nan]
11177         [AVO32ORG0]
11385         [AVO48CNV2]
11501         [AVO32CNV1]
11541         [AVO60CNV1]
11829    [AVO32CNV2, nan]
11931    [AVO48CNV1, nan]
Name: product, dtype: object

In [12]:
# To fill the names will use the below function

df.loc[df.product_id == 11133, 'product'] = "AVO60CNV2"
df.loc[df.product_id == 11829, 'product'] = "AVO32CNV2"
df.loc[df.product_id == 11931, 'product'] = "AVO48CNV1"

In [13]:
# recheck id product fetaure still has na values or not:
df.isna().sum()

date                    0
order_id                0
company                 0
company_region          0
product_id              0
product                 0
customer_id             0
product_category01    237
product_category02    248
product_category03    122
quantity                0
unit                    0
price_per_case          0
dtype: int64

---

In [14]:
# To do so will use the below function:

df["product_category01"]=df["product"].str.slice(3,5)
df["product_category02"]=df["product"].str.slice(5,8)
df["product_category03"]=df["product"].str.slice(-1)

In [15]:
# recheck if the features : [product_category01,product_category02,product_category03] still has na values or not:
df.isna().sum()

date                  0
order_id              0
company               0
company_region        0
product_id            0
product               0
customer_id           0
product_category01    0
product_category02    0
product_category03    0
quantity              0
unit                  0
price_per_case        0
dtype: int64

* *converting the order_id and product_id to object Data Type:*

In [16]:
df["order_id"]=df["order_id"].astype("str")
df["product_id"]=df["product_id"].astype("str")

* *creating total sales feature:*

In [17]:
df["total_sales"]=df["price_per_case"]*df["quantity"]

* *D.2 creating year,month,day features:*

In [18]:
from datetime import datetime
df["date"]=pd.to_datetime(df["date"])
df["year"]=df["date"].dt.year           # creating year feature
df["year"]=df["year"].astype("str")
df["month"]=df["date"].dt.month         # creating month feature
df["month_name"]=df["date"].dt.month_name()
df["day"]=df["date"].dt.day             # creating day feature
df["day_name"]=df["date"].dt.day_name()

In [19]:
df.to_csv(r"C:\Users\Omar\Desktop\Omar_Files\Python_Analysis\Siteck\Pyhton_Projects\demand_sales_data_Analysi\Data_Set\data_set_for_stats.csv",index=False)

---
---