#  <u>*Motor Insurance Analysis.*</u>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
import seaborn as sns;sns.set()
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px
from datetime import datetime,time

---
---

## <u>*Importing data*</u>

In [6]:
df=pd.read_csv(r"C:\Users\Omar\Siteck\Pyhton_Projects\Motor_Insurance_Analysis\Data_set\dataCar.csv")
df.drop("X_OBSTAT_",axis=1,inplace=True)

In [7]:
df

,veh_value,exposure,clm,numclaims,claimcst0,veh_body,veh_age,gender,area,agecat
0,1.06,0.303901,0,0,0.000000,HBACK,3,F,C,2
1,1.03,0.648871,0,0,0.000000,HBACK,2,F,A,4
2,3.26,0.569473,0,0,0.000000,UTE,2,F,E,2
3,4.14,0.317591,0,0,0.000000,STNWG,2,F,D,2
4,0.72,0.648871,0,0,0.000000,HBACK,4,F,C,2
...,...,...,...,...,...,...,...,...,...,...
67851,1.07,0.654346,0,0,0.000000,SEDAN,2,M,A,6
67852,1.23,0.908966,0,0,0.000000,SEDAN,4,M,C,3
67853,1.93,0.312115,0,0,0.000000,STNWG,4,M,C,3
67854,0.97,0.320329,1,1,7646.769989,HBACK,3,F,C,2
67855,1.02,0.246407,0,0,0.000000,HBACK,3,M,A,1

## <u>*Data shape*</u>

In [8]:
print(df.shape)
print("The data set has",df.shape[0],"rows, and",df.shape[1],"features")

(67856, 10)
The data set has 67856 rows, and 10 features

## <u>*Data types*</u>

In [9]:
df.dtypes

veh_value    float64
exposure     float64
clm            int64
numclaims      int64
claimcst0    float64
veh_body      object
veh_age        int64
gender        object
area          object
agecat         int64
dtype: object

## <u>*Data info*</u>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67856 entries, 0 to 67855
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   veh_value  67856 non-null  float64
 1   exposure   67856 non-null  float64
 2   clm        67856 non-null  int64
 3   numclaims  67856 non-null  int64
 4   claimcst0  67856 non-null  float64
 5   veh_body   67856 non-null  object
 6   veh_age    67856 non-null  int64
 7   gender     67856 non-null  object
 8   area       67856 non-null  object
 9   agecat     67856 non-null  int64
dtypes: float64(3), int64(4), object(3)
memory usage: 5.2+ MB

---