##  <u> ***Data Cleaning***  </u>

In [ ]:
%run 1_DataImporting.ipynb

## <u>***Data shape***</u>

### ***A.*** <u>***na-values :***</u>

* #### *The number of missing data :*

In [13]:
print("The total number of na_values are :",df.isna().sum().sum())
print()
print("The number of na-values in each features are :")
df.isna().sum()

The total number of na_values are : 0

The number of na-values in each features are :

veh_value    0
exposure     0
clm          0
numclaims    0
claimcst0    0
veh_body     0
veh_age      0
gender       0
area         0
agecat       0
dtype: int64

### ***B.*** <u>***Creating severity &  frequency features :***</u>

In [14]:
df["severity"]=round(df["claimcst0"]/df["numclaims"])
df["severity"].fillna(0,inplace=True)

In [15]:
df["frequincy"]=round(df["numclaims"]/df["exposure"],2)

### ***C.*** <u>***Data Types Conversion :***</u>

In [16]:
df["numclaims"]=df["numclaims"].astype("object")
df["clm"]=df["clm"].astype("object")
df["agecat"]=df["agecat"].astype("object")
df["veh_age"]=df["veh_age"].astype("object")

In [17]:
df

,veh_value,exposure,clm,numclaims,claimcst0,veh_body,veh_age,gender,area,agecat,severity,frequincy
0,1.06,0.303901,0,0,0.000000,HBACK,3,F,C,2,0.0,0.00
1,1.03,0.648871,0,0,0.000000,HBACK,2,F,A,4,0.0,0.00
2,3.26,0.569473,0,0,0.000000,UTE,2,F,E,2,0.0,0.00
3,4.14,0.317591,0,0,0.000000,STNWG,2,F,D,2,0.0,0.00
4,0.72,0.648871,0,0,0.000000,HBACK,4,F,C,2,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
67851,1.07,0.654346,0,0,0.000000,SEDAN,2,M,A,6,0.0,0.00
67852,1.23,0.908966,0,0,0.000000,SEDAN,4,M,C,3,0.0,0.00
67853,1.93,0.312115,0,0,0.000000,STNWG,4,M,C,3,0.0,0.00
67854,0.97,0.320329,1,1,7646.769989,HBACK,3,F,C,2,7647.0,3.12
67855,1.02,0.246407,0,0,0.000000,HBACK,3,M,A,1,0.0,0.00

---
---